@using EntityFrameworkMvc.Models
@using System.Text.Json;
@{
    var userModelJson = Context.Session.GetString("UserModel");
    var userModel = JsonSerializer.Deserialize<ApplicationUser>(userModelJson);
    var userRole = userModel?.Role;
    var userName = userModel?.UserName;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EntityFrameworkMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Book Shop Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <p>Name: @userName</p>
                <p>Role: @userRole</p>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (userRole == "Admin" || userRole == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">list authors and create author profiles</a>
                            </li>
                        }
                        @if (userRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Create">create author</a>
                            </li>
                        }
                        @if (userRole == "Admin" || userRole == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AuthorProfile" asp-action="Index">view author profile</a>
                            </li>
                        }
                        @if (userRole == "Admin" || userRole == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">list books and the author of the book</a>
                            </li>
                        }
                        @if (userRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Create">create book by author</a>
                            </li>
                        }
                        @if (userRole == "Admin" || userRole == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Publisher" asp-action="Index">publishing house list</a>
                            </li>
                        }
                        @if (userRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Publisher" asp-action="Create">create a publishing house</a>
                            </li>
                        }
                        @if (userRole == "Admin" || userRole == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AuthorPublisher" asp-action="Index">view publishing houses where the author works</a>
                            </li>
                        }
                        @if (userRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AuthorPublisher" asp-action="Create">add publishing houses where the author's works</a>
                            </li>
                        }
                        @if (userRole == "Admin" || userRole == "User")
                        {
                            <li class="btn btn-danger">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Search">search writer</a>
                            </li>
                        }
                        @if (userRole == "Admin")
                        {
                            <li class="btn btn-danger">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EntityFrameworkMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
