<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="bulma, login, page, website, template, free, awesome" />
    <link rel="canonical" href="https://aldi.github.io/bulma-login-template/" />
    <title>Library Management Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    @RenderBody()
</body>
</html>

<style>
    html,
    body {
        font-family: 'Quicksand', serif;
        font-size: 14px;
        font-weight: 300;
    }

    html {
        overflow-y: hidden !important;
        background-image: url('../media/background.jpg') !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero.is-success {
        background: #f2f6fa;
    }

        .hero .nav,
        .hero.is-success .nav {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .box {
        margin-top: 5rem;
        background-color: rgba(255, 255, 255, 0.1);
    }

    input {
        font-weight: 300;
    }

    p {
        font-weight: 700;
    }

        p.subtitle {
            padding-top: 1rem;
        }

    a {
        color: #fff;
    }

        a:hover {
            color: #bababa;
        }

    .languages {
        margin-top: 10px;
    }

    .footer-text {
        font-weight: initial;
    }
</style>